@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Miniver&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  /*Applying Inter as the deafult font*/
  font-family: "Inter", sans-serif;
  background-color: #212529 !important; /* Bootstrap dark bg-color*/
}

.font-serif {
  /*Applying Merriweather as the font-serif*/
  font-family: "Merriweather", serif;
}

.hover-text-warning:hover {
  color: #ffc107 !important; /* bootstrap warning color */
}

.card-hover {
  transition: transform 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.03);
}

/* Bootstrap dark from overrides for golden focus */
.form-control.bg-black {
  background-color: #1a1a1a;
  border-color: #444;
}

.form-control.bg-black:focus {
  background-color: #1a1a1a;
  color: #fff;
  border-color: #ffc107;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

/* Make navbar links centered and pop more on hover  */
.navbar-nav .nav-link {
  transition: color 0.2s;
  text-align: center;
}

.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}

/* Custom min-geight for hero  */
.hero-section {
  min-height: 70vh;
  background-attachment: fixed;
}

/* Ensure iframes are responsive  */
iframe {
  max-width: 100%;
}
.btn-warning:hover {
  background-color: #ffca2c !important;
  transform: scale(1.05);
}
.card-hover:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}
